/*
COLORS
================================================ */
:root {
  --text: #333;
  --bg: #fff;
  --video-opacity: 0.5;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #ddd;
    --bg: #000;
    --video-opacity: 0.7;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
GENERAL STYLING
================================================ */
html {
  font-size: 100%;
}
body {
  color: var(--text);
  background: var(--bg);
  font-family: "Bree Serif", sans-serif;
  transition: 0.5s;
}

/*
COMMON
================================================ */
p {
  line-height: 1.7;
}
img {
  max-width: 100%;
}
a:hover {
  color: #0bd;
}
